* { box-sizing: border-box; }

:root {
  --background: #55423d;
  --headline: #fffffe;
  --paragraph: #fff3ec;
  --button: #ffc0ad;
  --button-text: #271c19;
  --line: #140d0b;
  --highlight: #e78fb3;
  --secondary: #ffc0ad;
  --tertiary: #9656a1;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  background-color: var(--background);
  color: var(--paragraph);
  font-family: sans-serif;
}

body {
  margin: 10px auto;
  width: 900px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6, b {
  color: var(--headline);
}

em {
  color: var(--highlight);
}

a {
  color : var(--secondary);
  text-decoration: none;
}

button,
.button {
  border: 3px outset rgba(0, 0, 0, 0.5);
  padding: 4px 6px;
  margin: 2px 4px;
  background-color: var(--button);
  color: var(--button-text);
  display: inline-block;
  cursor: pointer;
}

button:hover,
.button:hover {
  border-style: inset;
  padding: 6px 4px 2px 8px;
}

form * {
  margin: 2px 4px;
}

label {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
label > * { margin-left: 10px; }

input,
textarea,
select {
  padding: 2px;
}

th {
  text-align: left;
  padding-right: 6px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
